/* DetailedView.css */

.detailed-view {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    max-height: 400px;
    overflow-y: auto;
    margin-left: 0vh;
    border: 1px solid #ddd;
    overflow-y: auto;
}

.detailed-view.open {
    opacity: 1;
    transform: translateY(0);
    width: 100vh;
}

.detailed-view h2 {
    color: #333;
    margin-bottom: 15px;
}

.filter-controls {
    margin-bottom: 20px;
}

.filter-controls input {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pedidos-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.detailed-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    position: relative;
    max-height: none;
    overflow-y: auto;
}

.detailed-item .status-marker {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px 0 0 8px;
}

.detailed-item .item-details {
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.detailed-item .item-details span {
    margin-right: 15px;
}

.pedidos-list.pedidosPendentes .detailed-item .status-marker {
    background-color: yellow;
}

.pedidos-list.pedidosConcluidos .detailed-item .status-marker {
    background-color: rgb(0, 132, 255);
}

.pedidos-list.pedidosAndamento .detailed-item .status-marker {
    background-color: green;
}

.pedidos-list.pedidosCancelados .detailed-item .status-marker {
    background-color: red;
}

.detailed-item span {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.button-details {
    background-color: #3498db;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.more-details {
    margin-top: 10px;
    color: #3498db;
    font-weight: bold;
    cursor: pointer;
}

.no-details {
    color: #888;
}

/* Estilos para a barra de rolagem em navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    margin-top: 1px;
    background-color: #f5f5f5;
    border: 0.1rem solid #ccc;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2980b9;
}

/* Adicionando estilos responsivos para dispositivos com largura menor que 767px */
@media only screen and (max-width: 767px) {
    .detailed-view {
        padding: 10px;
        border: none;
        background-color: transparent;
        max-height: none;
        overflow-y: auto;
    }

    .detailed-item {
        padding: 10px;
        max-height: none;
        overflow-y: auto;
    }

    .detailed-view.open {
        width: 42vh;
        margin: 10px 0px;
        transform: translate(-1vh, 0vh);
    }

    .button-details {
        width: 18vh;
        padding: 0.8vh;
        text-align: center;
    }
}
