# Ignorar o diretório node_modules
node_modules/

# Ignorar a pasta .cache dentro de node_modules
node_modules/.cache

# Ignorar o arquivo específico dentro de .cache
node_modules/.cache/default-development
