body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.dashboard {
    max-width: 80%;
    margin: 5% auto;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #3498db, #5d6d7e);
    color: #fff;
    transition: background 0.3s ease-in-out;
}


.dashboard:hover {
    background: linear-gradient(135deg, #3498db, #5d6d7e);
}

.dashboard h1 {
    font-size: 2em;
    margin-bottom: 2%;
}
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }

.dashboard-component {
    background-color: #fff;
    padding: 5%;
    border-radius: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;
    overflow: hidden;
}

.dashboard-component:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: #f9f9f9;
    color: #333;
}

.dashboard-component:hover, svg:hover {
    color: #333;
}

.order-stats {
    background: linear-gradient(135deg, #3498db, #5d6d7e);
    color: #fff;
}

.recent-orders {
    background: linear-gradient(135deg, #e74c3c, #d35400);
    color: #fff;
}

.sales-chart {
    background: linear-gradient(135deg, #27ae60, #2ecc71);
    color: #fff;
}

.customer-feedback {
    background: linear-gradient(135deg, #f39c12, #f1c40f);
    color: #fff;
}

@media screen and (min-width: 1920px) {
    .dashboard{
        max-width: 45%;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
    .dashboard {
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .dashboard{
        max-width: 100%;
    }
    .dashboard-grid {
        grid-template-columns: 1fr;
    }

    .dashboard-component {
        margin-bottom: 5%;
    }
}
