.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 260px;
  background-color: #1f2532;
  color: #dcdcdc;
  transition: width 0.3s ease-in-out;
  padding-top: 20px;

  &__logo {
    display: grid;
    place-items: center;
    height: 80px;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Mochiy Pop P one', sans-serif;
    color: rgb(39 103 180);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; 
  }

  &.collapsed {
    width: 60px;

    .sidebar__logo {
      transform: rotate(180deg); 
      color: rgb(58, 56, 56);
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      align-items: center;
      padding: 12px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; // Adiciona uma transição de cor

      &:hover {
        background-color: #384452;
        color: white;
      }

      &.active {
        background-color: #2767b4;
        color: white;
        font-size: 21px;
        transition: font-size 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out; // Adiciona uma transição de cor
      }

      &__icon {
        margin-right: 12px;

        i {
          font-size: 2rem;
          transition: margin-right 0.3s ease-in-out;
        }
      }
    }

    &__indicator {
      position: absolute;
      top: 0;
      left: 0;
      height: 60px;
      width: 3px;
      background-color: #308efe;
      z-index: 1;
      transition: top 0.3s ease-in-out;
    }
  }

  &.collapsed {
    width: 60px;

    .sidebar__menu__item__icon {
      margin-right: 12px;

      i {
        font-size: 2rem;
        transition: margin-right 0.3s ease-in-out;
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    padding-top: 80px;

    &.collapsed {
      width: 60px;
    }
  }
}

a {
  color: black;
  text-decoration: none;
}

.sidebar__menu__item:hover {
  background-color: #384452;
  color: white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; // Adiciona uma transição de cor
}

.sidebar__logo {
  touch-action: none;
}

.sidebar__logo {
  -webkit-tap-highlight-color: transparent; /* Para navegadores baseados no WebKit, como Chrome e Safari */
  tap-highlight-color: transparent; /* Para navegadores modernos */
  touch-action: none;
  user-select: none;
}

